body, html {
    position: relative;
    height: 100%;
    margin: 0;
    overflow: hidden;
    align-items: center;
    background-color: black; /* Set background to black */
    margin: 10px;
}
.closed {
    display: none;
}
.open {
    display: block;
}
#container {
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ball {
    width: 80px;
    height: 80px;
    background-color: orange; /* Initial color */
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    animation: bounce 8s infinite ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-80vh);
    }
}

#controls {
    position: relative;
    width: 150px;
    right: 0rem;
    display: none;
    flex-direction: column;

}
#control{
    
    margin-bottom: 10px;
}

button {
    margin: 5px;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    font-size: larger;
    cursor: pointer;
    font-family: sans-serif;
}

button:hover {
    background-color: white;
    color: black;
    text-decoration: underline;
}
