
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.heading{
   text-align: center;
    font-size: 2rem;
    margin: 20px;


}
.play-card {
    list-style-type: none; 
    display: flex; 
    justify-content: center;
    text-align: center;
}

.card-item {
    margin: 10px; 
    position: relative;
    flex: 1 0 auto; 
    max-width: 300px; 
    background-color: #7d7d7d;
}

a {
    text-decoration: none; 
    color: #333; 
    display: block0;
    border-radius: 10px;
    background-color: #dddddd90; 
    transition: background-color 0.3s ease; 
    position: relative;
    overflow: hidden; 
}

a img {
    width: 100%; 
    height: 250px;
    display: block; /* Remove extra space below images */
    margin-bottom: 10px; /* Space between image and text */
    border-top-left-radius: 10px; /* Adjust border radius for images */
    border-top-right-radius: 10px;
}

span {
    padding: 15px; 
    display: block; 
}


/* Media query for smaller screens */
@media (max-width: 768px) {
    .play-card {
        
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center; /* Center align items vertically */
    }

    .card-item {
        max-width: 80%; /* Full width cards on smaller screens */
    }
}
